body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#container {
  width: 400px;
  margin: 0 auto;
}

label, input {
  display: block;
  margin-bottom: 10px;
}

button {
  margin-bottom: 10px;
}

#result {
  margin-top: 20px;
}
